Advanced/RF.VehicleTracker.UWP/RF.VehicleTracker.UWP/Connected Services/ColorReference/Color2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rfvehicletracker.azurewebsites.net/Color.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CColor" nillable="true" type="tns:CColor" />
  <xs:complexType name="ArrayOfCColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CColor" nillable="true" type="tns:CColor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCColor" nillable="true" type="tns:ArrayOfCColor" />
</xs:schema>