Advanced/RF.VehicleBot/RF.VehicleBot/Connected Services/ModelReference/Model2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rfvehicletracker.azurewebsites.net/Model.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CModel" nillable="true" type="tns:CModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCModel" nillable="true" type="tns:ArrayOfCModel" />
  <xs:complexType name="CModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CModel" nillable="true" type="tns:CModel" />
</xs:schema>