Advanced/RF.VehicleTracker.UWP/RF.VehicleTracker.UWP/Connected Services/ModelReference/Model.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Model" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IModel_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rfvehicletracker.azurewebsites.net/Model.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rfvehicletracker.azurewebsites.net/Model.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rfvehicletracker.azurewebsites.net/Model.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModel_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="IModel_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IModel_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IModel_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IModel_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IModel_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_UpdateObj_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObj" />
  </wsdl:message>
  <wsdl:message name="IModel_UpdateObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_DeleteObj_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObj" />
  </wsdl:message>
  <wsdl:message name="IModel_DeleteObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjResponse" />
  </wsdl:message>
  <wsdl:portType name="IModel">
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/GetModels" message="tns:IModel_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/GetModelsResponse" message="tns:IModel_GetModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/Insert" message="tns:IModel_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/InsertResponse" message="tns:IModel_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/Update" message="tns:IModel_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/UpdateResponse" message="tns:IModel_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/Delete" message="tns:IModel_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/DeleteResponse" message="tns:IModel_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/GetById" message="tns:IModel_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/GetByIdResponse" message="tns:IModel_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/UpdateObj" message="tns:IModel_UpdateObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/UpdateObjResponse" message="tns:IModel_UpdateObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/DeleteObj" message="tns:IModel_DeleteObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/DeleteObjResponse" message="tns:IModel_DeleteObj_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModel" type="tns:IModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://tempuri.org/IModel/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IModel/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IModel/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IModel/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IModel/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <soap:operation soapAction="http://tempuri.org/IModel/UpdateObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <soap:operation soapAction="http://tempuri.org/IModel/DeleteObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IModel" type="tns:IModel">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IModel_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://tempuri.org/IModel/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IModel/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IModel/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IModel/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IModel/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <soap:operation soapAction="http://tempuri.org/IModel/UpdateObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <soap:operation soapAction="http://tempuri.org/IModel/DeleteObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Model">
    <wsdl:port name="BasicHttpBinding_IModel" binding="tns:BasicHttpBinding_IModel">
      <soap:address location="http://rfvehicletracker.azurewebsites.net/Model.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IModel" binding="tns:BasicHttpsBinding_IModel">
      <soap:address location="https://rfvehicletracker.azurewebsites.net/Model.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>