Advanced/RF.VehicleTracker/RF.VehicleTracker.UIService/Connected Services/VehicleReference/Vehicle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vehicle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58096/Vehicle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58096/Vehicle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58096/Vehicle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehicle_GetVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicles" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IVehicle_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_UpdateObj_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObj" />
  </wsdl:message>
  <wsdl:message name="IVehicle_UpdateObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_DeleteObj_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObj" />
  </wsdl:message>
  <wsdl:message name="IVehicle_DeleteObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehicle">
    <wsdl:operation name="GetVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/GetVehicles" message="tns:IVehicle_GetVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/GetVehiclesResponse" message="tns:IVehicle_GetVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/Insert" message="tns:IVehicle_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/InsertResponse" message="tns:IVehicle_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/Update" message="tns:IVehicle_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/UpdateResponse" message="tns:IVehicle_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/Delete" message="tns:IVehicle_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/DeleteResponse" message="tns:IVehicle_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/GetById" message="tns:IVehicle_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/GetByIdResponse" message="tns:IVehicle_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/UpdateObj" message="tns:IVehicle_UpdateObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/UpdateObjResponse" message="tns:IVehicle_UpdateObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/DeleteObj" message="tns:IVehicle_DeleteObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/DeleteObjResponse" message="tns:IVehicle_DeleteObj_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehicle" type="tns:IVehicle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVehicles">
      <soap:operation soapAction="http://tempuri.org/IVehicle/GetVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IVehicle/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IVehicle/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IVehicle/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IVehicle/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <soap:operation soapAction="http://tempuri.org/IVehicle/UpdateObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <soap:operation soapAction="http://tempuri.org/IVehicle/DeleteObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vehicle">
    <wsdl:port name="BasicHttpBinding_IVehicle" binding="tns:BasicHttpBinding_IVehicle">
      <soap:address location="http://localhost:58096/Vehicle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>