Advanced/RF.Temperature/RF.Temperature.WPFUI/Connected Services/TemperatureService/TempService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TempService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55955/TempService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55955/TempService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITempService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITempService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITempService_ConvertToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="ITempService_ConvertToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="ITempService_ConvertToCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToCelsius" />
  </wsdl:message>
  <wsdl:message name="ITempService_ConvertToCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="ITempService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempService/DoWork" message="tns:ITempService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempService/DoWorkResponse" message="tns:ITempService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempService/ConvertToFahrenheit" message="tns:ITempService_ConvertToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempService/ConvertToFahrenheitResponse" message="tns:ITempService_ConvertToFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempService/ConvertToCelsius" message="tns:ITempService_ConvertToCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempService/ConvertToCelsiusResponse" message="tns:ITempService_ConvertToCelsius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITempService" type="tns:ITempService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITempService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/ITempService/ConvertToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToCelsius">
      <soap:operation soapAction="http://tempuri.org/ITempService/ConvertToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempService">
    <wsdl:port name="BasicHttpBinding_ITempService" binding="tns:BasicHttpBinding_ITempService">
      <soap:address location="http://localhost:55955/TempService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>