Advanced/RF.VehicleTracker/RF.VehicleTracker.UIService/Connected Services/MakeReference/Make.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Make" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58096/Make.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58096/Make.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58096/Make.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMake_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IMake_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IMake_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMake_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMake_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IMake_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_UpdateObj_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObj" />
  </wsdl:message>
  <wsdl:message name="IMake_UpdateObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjResponse" />
  </wsdl:message>
  <wsdl:message name="IMake_DeleteObj_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObj" />
  </wsdl:message>
  <wsdl:message name="IMake_DeleteObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjResponse" />
  </wsdl:message>
  <wsdl:portType name="IMake">
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/GetMakes" message="tns:IMake_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/GetMakesResponse" message="tns:IMake_GetMakes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/Insert" message="tns:IMake_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/InsertResponse" message="tns:IMake_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/Update" message="tns:IMake_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/UpdateResponse" message="tns:IMake_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/Delete" message="tns:IMake_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/DeleteResponse" message="tns:IMake_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/GetById" message="tns:IMake_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/GetByIdResponse" message="tns:IMake_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/UpdateObj" message="tns:IMake_UpdateObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/UpdateObjResponse" message="tns:IMake_UpdateObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IMake/DeleteObj" message="tns:IMake_DeleteObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMake/DeleteObjResponse" message="tns:IMake_DeleteObj_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMake" type="tns:IMake">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IMake/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IMake/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMake/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMake/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IMake/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObj">
      <soap:operation soapAction="http://tempuri.org/IMake/UpdateObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObj">
      <soap:operation soapAction="http://tempuri.org/IMake/DeleteObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Make">
    <wsdl:port name="BasicHttpBinding_IMake" binding="tns:BasicHttpBinding_IMake">
      <soap:address location="http://localhost:58096/Make.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>