Advanced/RF.VehicleTracker/RF.VehicleTracker.UIService/Connected Services/MakeReference/Make.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RF.VehicleTracker.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58096/Make.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCMake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CMake" nillable="true" type="tns:CMake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCMake" nillable="true" type="tns:ArrayOfCMake" />
  <xs:complexType name="CMake">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CMake" nillable="true" type="tns:CMake" />
</xs:schema>